<div class="row">
    <div class="col-12 col-md-12 col-lg-6">
        <h2>{{recipe.name}}</h2>
        <app-rating [ratingValue]="recipe.rating"/>
       
       @for(item of recipe | keyvalue;track $index){
        <div>
            <label for="" class="small text-secondary text-capitalize">{{transformCamelCase(item.key)}}</label>
        </div>
       }
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <img [src]="recipe?.image" class="h-50" />
    </div>
    <div class="col-12"></div>
</div>
