<div class="container-fluid px-3">
    <div class="row g-3">
        <div class="col-12">
            <nav class="d-flex align-items-center gap-3">
                <input type="text" class="form-control" placeholder="search for a recipe">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn border-warning-subtle" (click)="paginate('prev')" [disabled]="disablePrev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                    </button>
                    <p class="mb-0 d-flex align-items-center">
                        <span>{{pageStart}}</span>
                        -
                        <span>{{pageEnd}}</span>
                    </p>
                    <button class="btn border-warning-subtle" (click)="paginate('next')" [disabled]="disableNext">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </button>
                </div>
            </nav>
        </div>
        @for (recipe of recipes; track $index) {
        <app-recipe-item [recipe]="recipe"/>
        } 
    </div>
</div>